<mat-toolbar color="primary" class="toolbar" >


  <span>Appleton Public Library</span>

  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu"> My Account
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openPage(0)">Loans</button>
    <button mat-menu-item (click)="openPage(1)" >Holds</button>
    <button mat-menu-item (click)="openPage(2)">Wish List</button>
    <button mat-menu-item (click)="openPage(3)" >Rated Titles</button>
    <button mat-menu-item (click)="openPage(4)" >Recommendations</button>
    <button mat-menu-item (click)="openPage(5)" >History</button>
    <button mat-menu-item (click)="openPage(6)">Settings</button>
  </mat-menu>
  
  </mat-toolbar>